name: Static Build
on:
  push:
    branches: [ main ]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-node@v6
        with:
          node-version: "24.13.0"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci && npm run build
        working-directory: web/
        env:
          CI: false
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "build/client"
      - uses: actions/deploy-pages@v4